# Database Configuration
spring.datasource.url=jdbc:postgresql://postgresql:5432/parser_db
spring.datasource.username=parser_user
spring.datasource.password=parser_password
spring.datasource.driver-class-name=org.postgresql.Driver

# Hibernate Configuration
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

# RabbitMQ Configuration
spring.rabbitmq.host=rabbitmq
spring.rabbitmq.port=5672
spring.rabbitmq.username=root
spring.rabbitmq.password=root

spring.jpa.generate-ddl=true
server.port=80
server.address=backend-java-app

application.callback.lk.users=http://cybervoin.ru
application.useragent.lk.users=lk-parser/1.0 (email@gperman.ru)
application.headhunter.api.key=APPLSC5PEPV2IAA90AHF4HCOR9476BR4PEOG6URII746V57IIJGKIUL1160QU9OU
application.areas.url=https://api.hh.ru/areas/113
application.period.parse.vacancies=14
application.fileoutput.path=files/xlsx
application.cbr.currency.url=https://cbr.ru/scripts/XML_daily.asp

application.http.type=http
application.hostname=109.71.242.120
application.port=80